<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-left">
            <h3></h3>
            <p></p>
        </div>

        <div class="footer-center">
            <a href="ma4432172@gmail.com" target="_blank" class="footerstyls">Email</a>
            <a href="https://www.linkedin.com/in/mohd-anas-740866244/" target="linkedin" class="linkdinstyle">LinkedIn</a>
            <a href="https://github.com/MohdAnas9721" target="github" class="githubstyls">GitHub</a>
            <a href="" target="_blank" class="websitstl">Website</a>
        </div>

        <div class="footer-right">
            <p class="allegic">© <%= new Date().getFullYear() %> ANAS. All rights reserved.</p>
        </div>
    </div>
</footer>