.contactmyportfolio{
    text-align: center;
    color: #00e5ff;
    font-family: 'Poppins', sans-serif;
    height: 400px;
    width:100%;
    margin-top: 100px;
}

.street {
    font-size: 42px;
    letter-spacing: 3px;
    margin-bottom: 15px;
    color: #070b0b;
}

.collebration {
    font-size: 16px;
    color: #0b1519;
    max-width: 600px;
    margin: 0 auto 30px;
    line-height: 1.6;
}

.emails-st {
    font-size: 20px;
    color: #131111;
    margin-bottom: 25px;
    font-weight: 500;
}

.emails-st:hover {
    color: #7aa4a4;
    transition: 0.3s ease;
}

.git-stu {
    display: inline-block;
    padding: 12px 30px;
    border: 2px solid antiquewhite;
    border-radius: 30px;
    font-size: 16px;
    color: #090e0e;
    cursor: pointer;
    transition: 0.3s ease;
}

.git-stu:hover {
    background-color:rgb(173, 205, 195);
    color: #0f2027;
}
