/* FOOTER BASE */
.site-footer {
  background: #0f172a;
  color: #e5e7eb;
  padding:5px 10px;
}

/* CONTAINER */
.footer-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;   /* mobile first */
  align-items: center;
  text-align: center;
  gap: 20px;
}

/* LEFT (agar future me text add karo) */
.footer-left h3,
.footer-left p {
  margin: 0;
}

/* CENTER LINKS */
.footer-center {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-center a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.footer-center a:hover {
  color: #ffffff;
}

/* RIGHT */
.footer-right .allegic {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 5px;

}

/* RESPONSIVE FOR DESKTOP */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: column; /* sab center hi rahenge */
  }
}