

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: #0f172a;
  padding: 16px 0;
  z-index: 1000;
}

/* WRAPPER */
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  font-size: 24px;
  font-weight: 700;
  color: #38bdf8;
  text-decoration: none;
}

/* MENU */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 28px;
}

.nav-menu a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

/* underline hover */
.nav-menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #38bdf8;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.nav-menu a:hover::after {
  width: 100%;
}

/* CONTACT BUTTON */
.btn-contact {
  background: #38bdf8;
  color: #020617 !important;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
}

/* MOBILE */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #e5e7eb;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 70px;
    right: 20px;
    background: #020617;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
    border-radius: 10px;
  }

  .nav-menu.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }
}
