.argestic {
    min-height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    color:white;
    font-family: 'Poppins', sans-serif;
}

.namere {
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: black;
    justify-content: start;
}

.webicter {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
     color: black;
}

.frencess {
    font-size: 16px;
    line-height: 1.8;
    max-width: 750px;
    color: black;
    opacity: 0.95;
}
