<div class="contactmyportfolio">
    <h1 class="street">CONTACT</h1>
    <P class="collebration">you can contact me by e-mail for collebration or project inquiry</P>
    <h3 class="emails-st">mohdanas972175@gmail.com</h3>
    <p class="git-stu">Get in touch</p> 
</div>
