<div>
    <h1>
        Mohd Anas
    </h1>
    <h4>Web Devloper / FullStack Engineer</h4>
    <p>
Frontend Engineer with expertise in building scalable and performant 
<br /> web applications using React, Next.js, and modern JavaScript ecosystems.
<br />
Proficient in developing responsive user interfaces with a focus on clean architecture,
<br /> accessibility, and deployment-ready execution.
Capable of 
<br> independently driving projects from concept to production delivery.
</p>
</div>