<h1>SKILL</h1>
<div class="all-over">
   
    <ul class="skilled-style">
         <h1>Devlopment</h1>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>bootstrap</li>
        <li>Nodejs</li>
        <li>Express</li>
        <li>Mongodb</li>
        <li>RestApi</li>
        <li>Git hub</li>

    </ul>
     <ul class="Design">
       <h1>Design</h1>
       <li>Web Design</li>
       <li>UI Design</li>
       <li>Photoshop</li>
       <li>Figma</li>
       <li>Adobe XD</li>
       <li>Lightroom</li>
    </ul>
     <ul>
       <h1>Other</h1>

       <li>Planning</li>
       <li>Direction</li>
       <li>Sales</li>
       <li>Web Marketing</li>
       <li>SEO</li>
       <li>Search Ads</li>
    </ul>
</div>